<app-nav-menu></app-nav-menu>

<body>
  <br><br>
  <h1 class="h1" style="color:red;">Bienvenidos</h1>
  <br><br>
  <p style="color: white;text-indent: 40px;text-align: center;">
    Este proyecto fue creado para ser presentado ante el equipo de FXInformática como parte de su proceso de ingreso al área de desarrollo, la misma fue implementada con:
  </p>
  <div class="caja">
    <ul>
      <li>Net.5/Entity Framework.</li>
      <li>SQL server para la base de datos.</li>
      <li>Angular y TypeScript para la parte del frontend.</li>
      <li>CSS, Bootstrap y Angular-Material para los estilos.</li>
    </ul>
  </div>
  <br><br>
  <p style="color: white;text-indent: 40px;text-align: center;">
    La utilización e implementación de la misma es bastante sencilla. Básicamente es una herramienta para inscribir jugadoras y crear equipos.
    <br> El sistema permite también acceder a cada jugadora, muestra su ficha, así como también permite editarla o borrarla de la aplicación.
    <br> Lo mismo sucede con los equipos, se puede acceder a ellos para verlos e incluso editarlos. En cuanto a borrar un equipo, primero debemos deshacernos de sus integrantes.
  </p>
  <br><br>
  <p style="color: white;text-indent: 40px;text-align: center;">
    A continuación, puede <span style="color: yellow;">crear jugadores</span> desde el botón <span style="color: rgb(72, 255, 0);">Jugadoras</span>, o crear <span style="color: yellow;">equipos</span> desde el botón <span style="color: rgb(72, 255, 0);">Equipos</span>.
  </p>
</body>
