<app-nav-player></app-nav-player>
<body>
  <div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h2 style="font-family:'! PEPSI !'">Jugadoras registradas</h2>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/players/create/" class="btn btn-secondary btn-lg btn-warning">Agregar jugadora</a>
      </div>
    </div>
    <br />
    <table class="table table-bordered table-sm">
      <thead class="table-dark">
        <tr style="text-align:center;">
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
          <th>Equipo</th>
          <th width="161px"></th>
        </tr>
      </thead>
      <tr *ngFor="let player of players">
        <td style="text-align:center;">{{ player.id }}</td>
        <td>{{ player.nombre }}</td>
        <td>{{ player.apellido }}</td>
        <td>{{ player.dni }}</td>
        <td>{{ player.team?.nombre }}</td>
        <td class="text-right">
          <a href="#" [routerLink]="['/players/', player.id, 'details']" class="btn btn-info btn-sm">Ver</a>
          <a href="#" [routerLink]="['/players/', player.id, 'edit']" class="btn btn-primary btn-sm">Editar</a>
          <button type="button" (click)="deletePlayer(player.id)" class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
    </table>
  </div>
</body>
