<body>
  <div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h2>Agregar jugadora</h2>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/players/list" class="btn btn-secondary btn-lg btn-warning">Volver a jugadoras</a>
      </div>
    </div>
    <br />
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input formControlName="nombre"
               id="nombre"
               type="text"
               class="form-control" />
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input formControlName="apellido"
               id="apellido"
               type="text"
               class="form-control" />
      </div>

      <div class="form-group">
        <label for="dni">DNI:</label>
        <input formControlName="dni"
               id="dni"
               type="text"
               class="form-control" />
        <div class="alert alert-danger" *ngIf="createForm.controls['dni'].errors?.dniExists">
          <strong>DNI en uso.</strong>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Equipo:</label>
        <select formControlName="teamId"
                id="teamId"
                class="form-control">
          <option value="">- Seleccionar -</option>
          <option *ngFor="let team of teams" [ngValue]="team.id">
            {{team.nombre}}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="createForm.controls['teamId'].errors?.teamFull">
          <strong>El equipo no puede tener mas de 11 jugadoras</strong>
        </div>
      </div>

      <button class="btn btn-primary btn-lg btn-danger" style="width: 1111px" type="submit" [disabled]="!createForm.valid">Agregar</button>
    </form>
  </div>
</body>
